@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&display=swap');

.main {
    font-family: 'Montserrat', sans-serif;
    color: #121212;
}

.navbar nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background-color: #121212;
    padding: 0 8rem 0 8rem;
    position: fixed;
    z-index: 2;
    top: 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ebe5e5;
    font-family: 'Bungee', cursive;
}

.navbar .hamburger {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.navbar .hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
}

.navbar nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #cccbcb;
    transition: 0.4s;
}

.navbar nav ul li a:hover {
    color: #ffffff;
}

.sec1 {
    margin-top: 30px;
    height: 100vh;
    align-items: center;
    background-color: white;
    display: flex;
    padding: 0 8rem 0 8rem;
}

.sec1 .desc p {
    padding-top: 2rem;
    width: 60%;
    font-size: 16px;
}

.desc button {
    margin-top: 2rem;
    font-size: 16px;
    padding: 5px 13px 4px 13px;
    border: 2px solid #121212;
    background-color: #ffffff;
    color: #121212;
    cursor: pointer;
    transition: 0.4s;
}

.desc button:hover {
    background-color: #121212;
    color: #ffffff;
}

.sec2 {
    height: 100vh;
    align-items: center;
    background-color: white;
    display: flex;
    padding: 0 8rem 0 8rem;
    gap: 4rem;
}

.sec2 .desc {
    width: 50%;
}

.sec2 .desc p {
    padding-top: 2rem;
    font-size: 16px;
}

.sec2 .photo {
    height: 50%;
    width: 50%;
    background-color: #121212;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
}

.img {
    height: 100vh;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem 0 8rem;
}

.img div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.pict, .pict1, .pict2 {
    width: 300px;
    height: 200px;
    background-color: #121212;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
    transition: 0.4s;
    cursor: pointer;
}

.pict:hover, .pict1:hover, .pict2:hover {
    transform: translateY(-10px);
    z-index: 1;
}

.contact {
    height: 100vh;
    align-items: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem 0 8rem;
}

.contact h1 {
    margin-bottom: 2rem;
}

.contact div {
    width: 100%;
    display: flex;
}

.grid1 {
    display:flex;
    flex-direction: column;
    margin-right: 50px;
}

.grid1 div {
    display: flex;
    flex-direction:column;
    gap: 6px;
    margin-bottom: 8px;
}

.grid1 div input {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #121212;
    color: #121212;
}

.grid1 div textarea {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    border: 1px solid #121212;
    border-radius: 3px;
    color: #121212;
}

.grid1 div input:focus, .grid1 div textarea:focus {
    outline: none;
}

.grid1 button {
    font-size: 16px;
    padding: 5px 13px 4px 13px;
    border: 1px solid #121212;
    background-color: #ffffff;
    color: #121212;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 75%;
}

.grid1 button:hover {
    background-color: #121212;
    color: #ffffff;
}

.grid2 {
    height: 100%;
    background-color: #121212;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
}

.footer {
    height: 40vh;
    align-items: left;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem 0 8rem;
}

.footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer hr {
    margin-top: 2rem;
}

.footer p {
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
}

.about {
    height: 100vh;
    align-items: center;
    background-color: white;
    display: flex;
    padding: 0 8rem 0 8rem;
    margin-top: 30px;
}

.about .desc p {
    padding-top: 2rem;
    width: 100%;
    font-size: 16px;
    text-align: justify;
}

.porto {
    margin-top: 130px;
    align-items: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem 0 8rem;
}

.porto h1 {
    margin-bottom: 1rem;
}

.porto div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media (min-width: 1801px) {
    .navbar nav {
        padding: 0 12rem 0 12rem;
    }
    .navbar nav .hamburger {
        display: none;
    }
    .porto, .about, .contact, .sec1, .sec2, .img, .footer {
        padding: 0 10rem 0 10rem;
    }
}

@media (min-width: 881px) and (max-width: 1800px) {
    .navbar nav {
        padding: 0 8rem 0 8rem;
    }
    .navbar nav .hamburger {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 880px) {
    .navbar nav {
        padding: 0 3rem 0 3rem;
    }
    .navbar nav .hamburger {
        display: none;
    }
    .sec1 {
        margin-top: 0;
        align-items: end;
    }
    .sec1 .desc p {
        padding-top: 1rem;
        width: 80%;
    }
    .sec1 .desc button {
        margin-bottom: 50px;
    }
    .sec2 {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }
    .sec2 .desc {
        width: 100%;
    }
    .sec2 .desc p {
        padding-top: 1rem;
        font-size: 16px;
    }
    .sec2 .photo {
        width: 100%;
        height: 50%
    }
    .img {
        height: auto;
    }
    .porto, .about, .contact, .sec1, .sec2, .img, .footer {
        padding: 0 3rem 0 3rem;
    }
}

@media (min-width: 300px) and (max-width: 576px) {
    .navbar nav {
        padding: 0 16px 0 16px;
    }
    .navbar nav ul {
        display: none;
    }
    .sec1 {
        margin-top: 0;
        align-items: end;
    }
    .sec1 .desc p {
        padding-top: 1rem;
        width: 100%;
    }
    .desc button {
        margin-top: 1rem;
    }
    .sec2 {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }
    .sec2 .desc {
        width: 100%;
    }
    .sec2 .desc p {
        padding-top: 1rem;
        font-size: 16px;
    }
    .sec2 .photo {
        width: 100%;
        height: 30%
    }
    .porto, .about, .contact, .sec1, .sec2, .img, .footer {
        padding: 0 16px 0 16px;
    }
    .img div {
        margin-top: 1rem;
        flex-direction: column;
        gap: 0;
    }
    .contact div {
        flex-direction: column;
    }
    .grid2 {
        display: none;
    }
    .footer div img {
        width: 70px;
    }
    .about {
        margin-top: 190px;
    }
    .porto div {
        margin-top: 10px;
        gap: 10px;
        flex-direction: column;
    }
}
